<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OpenThirdPageTest test">
    <test name="OpenThirdPageTest">
        <packages>
            <package name="com.stormnet.tests.functionalTest.*"/>
        </packages>
    </test>
</suite>
